/* Classes Listed Here */

/* Universal class listed below W Box Method Use (Learning Organizing Information) */


body {
    background-color: burlywood;
}

.Main-Title {
    font-size: 45pt;
    color: rgb(163, 34, 34);
    background-color: rgb(231, 134, 8);
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 1px;
    padding: 4px; 
    margin: 15px;
    border-color: rgb(163, 34, 34); 
}

.Sub-Headings {
    font-family: "Roboto", sans-serif;
    font-weight: 250;
    font-style: normal;
    font-size: 35pt;
    color: rgb(163, 34, 34);
    background-color: rgb(231, 134, 8);
}

/* General Image Settings Listed Below */


img{
    box-sizing: border-box;
    margin: 5px;
    margin-right: 16px;
    float: initial;
    width:  450px;
    height: 450px;
    object-fit: cover;
    border: 10px solid rgb(163, 34, 34);
}

#Set-Margins {
    margin-left: 100px;
}

.small-images {
    box-sizing: border-box;
    margin: 35px;
    margin-right: 60px;
    text-align: center;
    width: 225px;
    height: 225px;
    object-fit: cover;
    border: 5px solid rgb(163, 34, 34);
    }

.Normal-Text {
    font-size: 18pt;
    color: rgb(163, 34, 34);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Ingredients-Needed {
    font-size: 18pt;
    color: rgb(163, 34, 34);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Functional Buttons Listed Below */

.Button {
    background-color: rgb(163, 34, 34);
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    margin: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.Button:hover {
    background-color: rgb(230, 40, 40); 
}

.Buttons {
    box-sizing: border-box;
    text-align: center;
    float: initial;
}


.Original-Source {
    text-align: center;
}

/* Final Box */

#CodedBy {
    font-size: 30pt;
    color: rgb(163, 34, 34);
    background-color: rgb(231, 134, 8);
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-weight: 200;
    font-style: normal;
    border: 1px;
    padding: 5px; 
    margin: 15px;
    border-color: rgb(163, 34, 34); 
}